<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../json-formdata.js"></script>
  <title>Logs do sistema</title>
</head>

<body>
  <h1>Logs do sistema</h1>
  
  <input type="text" th:value="${temperatura}"><br/><br/>
  
  <table>
    <thead>
      <tr>
        <th>Data</th>
        <th>Atividade</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="log: ${logs}">  
        <td th:text="${log.data}"></td>
        <td th:text="${log.log}"></td>
      </tr>
    </tbody>
  </table>
 
  <script>
  
  </script>
</body>
</html>
